<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Error JS</h5>
      </div>

        <form method="post" enctype="multipart/form-data" action="/monitoring/">
          {% csrf_token %}

          <input id="delete" type="hidden" name="delete">
          <input id="trable-delete" type="hidden" name="trable">

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="btn-mod3" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary" id="btn-mod4">Удалить</button>
          </div>

        </form>

    </div>
  </div>
</div>